@font-face {
  font-family: 'Diavlo';
  src: url('../fonts/diavlo/DiavloBlack-Regular.eot');
  src: url('../fonts/diavlo/DiavloBlack-Regular.woff2') format('woff2'),
       url('../fonts/diavlo/DiavloBlack-Regular.woff') format('woff'),
       url('../fonts/diavlo/DiavloBlack-Regular.ttf') format('truetype'),
       url('../fonts/diavlo/DiavloBlack-Regular.svg#DiavloBlack-Regular') format('svg'),
       url('../fonts/diavlo/DiavloBlack-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
.container{
	max-width: 970px;
}
.navbar-takeshi{
	background: #0054a6;
	color: #fff;
	margin: 0;
	border: none;
}
.navbar-takeshi .navbar-brand{
	height: auto;
	padding: 6px;
}
h1, h2, h3, h4, h5{
	font-family: 'diavlo', calibri;
}
.aware-line{
	background: #00aeef;
	position: relative;
}
.takeshi-slider-wrapper{
	margin-top: 12px;
	box-shadow: 2px 0 5px #333;
	border-radius: 8px;
	overflow: hidden;
}
.carousel-caption h3{
	font-size: 1.4em;
}
.carousel-caption {
	left: auto;
	padding-bottom: 30px;
	right: 13%;
	text-align: right;
	top: 35%;
	font-size: 18px;
	font-family: 'diavlo', Calibri;
}
.title-athome{
	background: url('../img/line-blue.jpg') repeat-x center #fff;
	text-transform: uppercase;
	display: table;
	width: 100%;
}
.title-athome > h3{
	display: table;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	background-color: inherit;
	margin: 26px auto;
}
.kiprah-box{
	margin-top: 26px;
	margin-bottom: 26px;
	color: #fff;
}
.services-kotak{
	padding-top: 28px;
	padding-bottom: 28px;
	font-family: Diavlo, Calibri;
	text-transform: uppercase;
	font-size: 1.2em;
    word-wrap: break-word;
}
@media(max-width: 400px){
	.services-kotak{
		font-size: 0.85em;
	}
	.carousel-caption{
		top: auto;
		bottom: 2%;
		font-size: 10px;
	}
	.carousel-caption p{
		margin: 0;
	}
	.carousel-caption h3{
		font-size: 1.8em;
	}
	.carousel-indicators{
		display: none;
	}
}
.services-kotak > img{
	margin-bottom: 28px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	display: block;
	transition: all .2s ease-in-out;
}
.services-kotak:hover > img {
	transform: scale(1.1);
}
.serv1{
	background: #dd6403;
}
.serv2{
	background: #ea9b03;
}
.serv3{
	background: #fa5a03;
}
.serv4{
	background: #0323ea;
}
.serv5{
	background: #0489fa;
}
.serv6{
	background: #0cb483;
}
h3.float-left{
	padding-left: 0px;
}
.float-left{
	float: left;
	margin-left: 0;
}
.theblog-takeshi{
	margin-bottom: 26px;
	margin-top: 26px;
	padding-bottom: 20px;
	background: 
} 
.blue-area{
	background: url('../img/warna-orn.png') no-repeat left bottom #00aeef;
	position: relative;
}
.page-header{
	border-bottom: none;
	color: #fff;
}
.page-header h1 small {
  display: block;
  color: #333;
  font-size: 0.5em;
}
h3 i {
  background: #00aeef none repeat scroll 0 0;
  margin-right: 4px;
  border-radius: 50%;
  color: #fff;
  padding: 10px;
}

.wrapper-text.srtipe.clearfix {
    background: #efefef none repeat scroll 0 0;
}
.wrapper-text {
    padding: 0 10px;
}
.content-info{
	background: url('../img/footer-bg.png') no-repeat bottom left #363636;
	min-height: 100px;
	margin-top: 20px;
	color: #fff;
}
.widget-foo{
	color: #fff;
}
.widget-foo .widget{
	margin-top: 20px;
	margin-bottom: 20px;
}
.footer-logo{
	background: #074459;
	padding-bottom: 10px;
	padding-top: 10px;
}
.footer-logo img:hover{
	opacity: 1;
	transition: All .9s;
}
.footer-logo img{
	margin: 2px auto;
	opacity: .4;
}
.text-logo{
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
}
.text-logo p{
	margin: 0;
	font-family: 'diavlo', calibri;
	font-size: 1.4em;
}
.foo-copyright{
	background: #012b3a;
	color: #fff;
	padding: 10px 0;
}
.logo-bisnis img{
	margin: 6px auto;
	display: block;
}
.aw-menus li a {
	color: #fff;
	font-family: diavlo;
	padding: 37px 10px;
	text-transform: uppercase;
	display: block;
}
.aw-menus li a:focus{
	border: transparent!important;
	outline: none;
}
.aw-menus li a:hover{
	background: none;
	color: #ffc600;
}
.aw-menus li.active{ 
}
.aw-menus li.active a,
.aw-menus li.active a:hover {
	background: url('../img/panah-menu.png') no-repeat 50% 109% transparent;
	border: none;
}
.wrap > .content{
	margin-top: 20px;
}

.icon-bar {
    background: #fff none repeat scroll 0 0;
}
.navbar-header button.navbar-toggle {
    position: absolute;
    right: -5px;
    top: -9px;
}
@media(max-width:767px){
	.navbar-collapse {
		background: #333 none repeat scroll 0 0;
		margin-right: 0 !important;
		position: absolute;
		top: -9px;
		width: 80%;
		z-index: 9999;
	}
	ul.aw-menus {
		padding: 0;
		width: 100%;
	} 
	.aw-menus li a {
		background-image: none !important;
		padding: 8px 2px;
		text-align: center;
	}
	h3, .h3{
		font-size: 1em;
	}
}

.listing-bisnis {
  border-bottom: 1px solid #cbcbcb;
  padding-bottom: 10px;
  padding-top: 10px;
}

.col-sm-3 small {
    color: #00b2fc;
    display: block; 
}
.evenpost {
  background: #f8f8f8 none repeat scroll 0 0;
}
.usaha-title {
  font-size: 24px;
  margin: 20px 0;
}
.size-full,
.size-large{
	max-width: 100%;
	height: auto;
}
@media(max-width: 480px){
	img{
		max-width: 100%;
		height: auto;
	}
}

.boxe-text {
    background: #084298 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 14px;
}
.boxe-text h3 a{
	color: #f3f3f3;
}
.boxe-text h3 {
    border-bottom: 1px solid #048cf6;
    display: block;
    font-size: 16px;
    margin: 9px 0 10px;
    padding: 0 0 10px;
}
.boxed-bisnis {
    margin-bottom: 28px;
}

.modal .close {
    background: #333 none repeat scroll 0 0;
    border-radius: 50%;
    color: #c5b600;
    height: 30px;
    opacity: 1;
    position: absolute;
    right: 14px;
    text-shadow: none;
    top: 12px;
    width: 30px;
}
.container.wrapper-photo {
    margin-bottom: 36px;
}
.img-center {
  margin: 0 auto;
}

.photobox {
    overflow: hidden;
    position: relative;
}
.photobox h3 { 
    bottom: -10px;
    color: #fff;
    font-size: 18px;
    padding: 10px 0;
    position: absolute;
    top: auto;
    width: 100%;
	text-align: center;
}

.photobox:hover h3 {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}
.item-gallery {
  position: relative;
}

.aw-mans {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
  
}

.aw-mans .item {
 display: inline-block;
 padding:  .25rem;
 width:  100%; 
}
#loading-animation{
	background: #000;
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	min-height: 100%;
	z-index: 99999;
}
.lodeng,
.opsoyo{
	display: none;
}
.stoper span.lagilagi,
.stoper span.lagilagi{
	display: none;
}
.stoper .opsoyo{
	display: block;
}
#more_posts[disabled] span.lodeng{
	display: block;
}
#more_posts[disabled] span.opsoyo{
	display: none;
}
#more_posts.stoper[disabled] span.lodeng{
	display: none;
}
#more_posts.stoper[disabled] span.opsoyo{
	display: block;
	cursor: not-allowed;
}
#more_posts {
  background: #d40000 none repeat scroll 0 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: table;
  float: none;
  font-weight: bold;
  padding: 6px 14px;
  text-transform: uppercase;
  margin: 20px auto;
}
.well {
 position:relative;
 display: block;
 margin-bottom: 14px;
 border-radius: 0px;
 padding: 0.8rem;
 background: #dedfdf;
 box-shadow: 0px 5px 4px #898989;
} 
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  min-width: 100% !important;
  width: 100% !important;
}
.item-gallery > a > img{
	width: 100%;
}
.single .widget h3 {
    border-bottom: 4px solid #707070;
    font-size: 20px;
    margin: 10px 0;
    padding: 10px 0;
}
.widget ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.sidebar .widget ul > li {
    border-bottom: 1px dotted #bebebe;
    display: table;
    padding: 4px;
    width: 100%;
}
.main > * > header {
  border-bottom: 2px solid #454545;
  margin-bottom: 14px;
}
.aw-share {
  border-top: 1px solid #eee;
  margin-top: 14px;
  padding-top: 14px;
} 
.wanita .the-gen {
  background: rgba(172, 114, 195, 0.8) none repeat scroll 0 0;
}
.table .glyphicon {
  color: #3faae2;
  font-size: 16px;
  margin-right: 10px;
}
.the-gen {
  background: rgba(63, 170, 255, 0.8) none repeat scroll 0 0;
  box-shadow: 8px 3px 11px -4px #000;
  left: -8px;
  min-width: 150px;
  padding: 4px;
  position: absolute;
  text-align: center;
  top: -1px;
  transform: rotate(318deg);
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 3px #000;
}
.the-gen > span{
	display: block;
	font-size: 12px;
	font-weight: normal
}

.navigation > ul {
    display: table;
    list-style: outside none none;
    margin: 20px auto;
    padding: 0;
}
.navigation > ul > li {
    background: #5c5c5c none repeat scroll 0 0;
    border: 1px solid #dedede; 
    float: left;
    margin: 2px;
    padding: 2px 8px;
}
.navigation > ul > li.active {
    background: #000 none repeat scroll 0 0;
}
.navigation > ul > li a {
    color: #fff;
}

.nama-ang.text-center {
    border: medium none;
    bottom: 2px;
    color: #fff;
    display: block;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.nama-ang.text-center a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 0 4px #000;
}
.angg-pic {
    border: 1px solid #c7c7c7;
} 