@font-face{font-family:"Play";src:url("../fonts/play/Play-Regular.eot?") format("eot"),
url("../fonts/play/Play-Regular.woff") format("woff"),
url("../fonts/play/Play-Regular.ttf") format("truetype"),
url("../fonts/play/Play-Regular.svg#Play") format("svg");font-weight:normal;font-style:normal;}
body{font-family:'Belgrano', serif;font-size:14px;font-weight:normal;color:#585858;}
h1, h2, h3, h4, h5{font-family:play;}
h4{font-size:1.6em;}
a{color:#00a2ff;}
a:hover{text-decoration:none;}
a:focus{text-decoration:none;outline:none;}
.navbar-brand{float:left;font-size:18px;height:50px;line-height:20px;padding:5px 14px; }
.warna-navi{background:transparent;}
.smaller-icn .navbar-brand{background:#333;}
.smaller-icn .warna-navi{background:#fff;}
@media(min-width:768px){.warna-navi nav{float:right;}}
.container{max-width:970px;}
.slider-main{position:relative;top:0;width:100%;}
.size-full,
.size-large{max-width:100%;height:auto;}
.comments-area{margin-top:14px;margin-bottom:14px;}
.forheight{position:fixed;top:0;width:100%;left:0;z-index:-1;}
.wrap.container{background:#fff;position:relative;}
.content-info{background:#111;color:#fff;}
.content-info > .container{background:#333;border-top:4px solid #00a2ff;}
.satu{background:url('../img/banner/welcome.jpg') no-repeat center;background-size:cover;}
/*.dua{background:url('../img/banner/cewek.jpg') no-repeat center;background-size:cover;}
.tiga{background:url('../img/banner/happy.jpg') no-repeat center;background-size:cover;}*/
.carousel-fade .carousel-inner .item{opacity:0;transition-property:opacity;}
.carousel-fade .carousel-inner .active{opacity:1;}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right{left:0;opacity:0;z-index:1;}
.home .main{padding-top:0;}
.top-ic > *{transition:All 0.5s;}
.top-ic > *:hover{background:#00a2ff;color:#fff;}
.box-icon{padding-top:40px;padding-bottom:20px;}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .prev.right{opacity:1;}
.page-header{border-bottom:1px solid #eee;margin:20px 0 20px;padding-bottom:9px;}
.pool-header{background:url('../img/line.jpg') repeat-x center;margin:20px 0 4px;}
.pool-header h1{font-size:2em;background:#fff;margin:8px auto;display:table;padding:8px 12px;}
.btn-green{border:4px solid;border-radius:24px;display:table;float:right;font-size:16px;margin-top:20px;padding:6px 14px;}
.box-title{border-bottom:1px solid #ededed;padding-bottom:14px;}
.line-shadow{background:rgba(0, 0, 0, 0) url("../img/shadow.png") repeat-x scroll center center;display:block;height:97px;}
.no-padding{padding:0;}
.pimage{overflow:hidden;position:relative;}
.slide-shadow{position:absolute;width:0%;height:0%;background:rgba(0,0,0,0.5);color:#fff;padding:8% 1%;text-align:center;font-size:16px;left:0;bottom:-100%;transition:all 0.5s;}
.step-one{margin-top:0px;}
.pimage:hover .slide-shadow{top:0;transition:all 0.5s;width:100%;height:100%;}
.slide-shadow a{color:#fff;text-shadow:0 0 2px #000;}
.uptolink{border:4px solid;border-radius:15px;display:table;margin:17px auto 10px;padding:4px 21px;}
.tes-image img{margin:12px auto;display:block;}
.box-post{font-size:14px;margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #d6d6d6;}
.tes-image img{display:block;margin:0 auto;}
.tes-image img:hover{opacity:0.8;}
.tes-image small{text-align:center;padding-bottom:12px;display:block;}
.tes-image small a{color:#333;}
.image-content img{max-width:100%;margin:0 auto;display:block;height:auto;}
.wrapper-banner{background:#333 url('../img/banner-bl.jpg') no-repeat center top;background-size:cover;background-attachment:fixed;color:#fff;height:50%;padding:120px 0;position:absolute;top:0;width:100%;z-index:0;}
.title-off{color:#fff !important;margin:20px 0;position:relative;}
.main{border-top:4px solid deepskyblue;padding-top:2px;padding-bottom:40px;}
.single .main{padding-top:0;}
aside{border-top:4px solid lightcoral;}
img.grayscale{filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");filter:gray;-webkit-filter:grayscale(100%);}
.row-partnership{border-bottom:1px solid #444;margin:10px 0 0 !important;padding-bottom:10px;}
img.grayscale:hover{filter:none;-webkit-filter:grayscale(0%);}
aside{border-left:1px solid #dddddd;}
aside section{border-bottom:1px solid #d2d2d2;margin-left:-14px;margin-right:-14px;padding-bottom:14px;padding-left:14px;padding-right:14px;}
aside section ul{list-style:outside none none;padding:0;}
.content.row{border-left:1px solid #ededed;border-right:1px solid #ededed;}
.the-part .slick-arrow{display:none !important;}
.the-part .slick-arrow{display:none !important;}
.smaller-icn{transition:all 1s ease 0s;}
.smaller-icn .warna-navi{box-shadow:0 2px 2px #333;}
#share-buttons img{height:auto;max-width:35px;}
#share-buttons{display:table;margin:4px auto;}
.social_share.clearfix{border-bottom:1px solid #cecece;border-top:1px solid #cecece;margin:40px 0 0;padding:20px 0;}
.liked{display:table;float:none;margin:10px auto -10px;}
.col-sm-6.kotlink{border-bottom:1px solid #ededed;border-left:1px solid #ededed;border-right:1px solid #ededed;border-top:none;background:#fafafa none repeat scroll 0 0;padding-bottom:20px;padding-top:20px;}
.custom .author_info{border:1px solid #ededed;padding:1.0em;margin-top: 10px;}
.custom .author_info a{border-bottom:1px solid #fff;text-decoration:none;}
.custom .author_info a:hover{border-bottom:1px solid #ededed;}
.custom .author_info .author_photo img{border:1px solid #ededed;padding:0.2em;float:left;margin:1.0em 1.0em 1.0em 0em;}
.custom .author_info p{margin-top:0.8em;margin-bottom:0.4em;}
.custom .author_info p.author_email{text-indent:1.8em;}
#submit{}
.related{border-bottom:1px solid #d9d9d9;padding-left:14px;padding-right:14px;}
#related_posts > ul{list-style:outside none none;padding:0;}
.relatedcontent h5{font-size:1.3em;margin:0;font-weight:700;}
.relatedcontent{font-size:12px;}
#related_posts li{border-top:1px dotted #e8e8e8;padding:4px 0;}
.row.footer-credit{background:#282828 none repeat scroll 0 0;padding:8px 0 0;font-size:12px;font-family:play;}
.small-name{ border-bottom: medium none;color: #a8a8a8;font-size: 12px;}
@media(min-width: 768px){
	.client-image { height: 42px;}
	.client-image img{ margin: 10px auto;max-height: 100%;width: auto;display:block;}
	.slick-prev, .slick-next{display: none!important;}
}
@media(max-width: 768px){
	.slick-prev, .slick-next{display: none!important;}
	.slick-slide .pull-right,.slick-slide .pull-left,.slick-slide .text-right,.slick-slide .text-left{float:none!important;text-align:center!important;}
}
.post-inhome h4{text-align: left!important;font-size:16px;}
figure {font-size: 12px;max-width: 100%;text-align: center; }
.icon-bar {background: #6464ec none repeat scroll 0 0; } 
.zwing {
  position: absolute; 
}
.innerpop{
	background: rgba(255,255,255,0.7);
	color: #333;
	padding: 3px!important;
	border: 1px solid #eee;
	box-shadow: 0 0 2px #333;
}
.innerpop h3{
	font-size: 18px;
	font-weight: 900;
}
.innerpop a{
	color: lightcoral;
}
.top-content{margin: 20px 0;}
.entry-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}
.entry-summary{
	padding-bottom: 14px;
	border-bottom: 1px solid #ededed;
}
.text-red{color: #ff6565;}

.col-sm-3.isotopeSelector {
    padding: 2px;
}
.isotopeSelector .article-title {
	color: #fff;
	font-size: 1.5rem !important;
	font-weight: bold;
	left: 0;
	padding: 6px !important;
	position: absolute;
	top: 0;
}
.isotopeSelector .article-title a{
	color: #fff;
}
.img-center{margin:0 auto;float:none;}
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #fff;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
	top: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
.isotopeContainer .article-title > a {
  border-bottom: 1px solid #fff;
  color: #fff!important;
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 8px;
  text-shadow: 0 0 2px #000;
}

.wpcf7-form-control {
    border: 1px solid #d8d8d8;
    padding: 4px;
    width: 100%;
}
.wpcf7-form-control-wrap {
    display: table;
    float: none;
    margin: 4px 0;
    width: 100%;
}
.wpcf7-form label {
    font-weight: normal;
    width: 100%;
}
.wpcf7-form-control.wpcf7-submit {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    border: 4px solid deepskyblue;
    border-radius: 34px;
    display: table;
    margin: 3px 0;
    min-width: 120px;
    padding: 5px 18px;
    text-transform: uppercase;
    width: auto;
}
aside.sidebar a{
	color: #333;
}

.footer-menus {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer-menus li {
    border-left: 1px solid #464646;
    float: left;
    line-height: normal;
    margin: 2px 0;
    padding: 0 6px;
}
.footer-menus li:first-child {
    border: medium none;
}
.widget.widget_search {
  background: #ededed none repeat scroll 0 0;
  padding: 20px;
}
.single-portfolio p#breadcrumbs {
	padding-top: 10px;
}
p#breadcrumbs {
  border-bottom: 3px double #b7b7b7; 
  padding-bottom: 10px;
	padding-top: 10px; 
}
#comments > h3 {
  border-bottom: 1px solid #dedede;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
} 
.media-container img {
  height: auto !important;
  max-width: 100%;
} 
video.aw-vibanner {
  width: auto;
  height: 100%;
  min-width: 100%;
}

.isotope-pager {
    display: table;
    margin: 20px auto 0;
}
.isotope-pager a {
    background: #333 none repeat scroll 0 0;
    float: left;
    margin: 0 2px;
    padding: 4px 10px;
}
.isotope-pager a.active {
    background: #0e63e4 none repeat scroll 0 0;
    color: #fff;
}
.filters li a > span {
    color: #333;
    margin-left: 6px;
}
.filters li.active > a {
    color: #333;
}
.filter-container.isotopeFilters {
  border-bottom: 1px solid #aaaaaa;
  display: table;
  font-size: 16px;
  margin: 20px auto;
  padding: 10px 4px 12px;
}

.post-nav .pagination {
    display: table;
    margin: 20px auto;
    text-align: center;
}
.numofpage {
    background: #333 none repeat scroll 0 0;
    border: 1px solid #555;
    border-radius: 13px;
    box-shadow: 0 0 4px #a9a9a9 inset;
    color: #fff;
    display: table;
    font-size: 12px;
    margin: 0 auto 10px;
    padding: 4px 18px;
}
.post-nav .pagination {
  display: table;
  margin: 20px auto;
  text-align: center;
}
.pagination > .clearfix > a.inactive, .post-nav > .pagination > .clearfix > span.current {
	background: #333 none repeat scroll 0 0;
	border: 1px solid #555;
	border-radius: 50%;
	box-shadow: 0 0 4px #818181 inset;
	display: table;
	float: left;
	height: 28px;
	margin: 2px;
	padding: 4px 0;
	width: 32px;
}
.pagination span.current {
    color: #fff;
    cursor: not-allowed;
}

.arrowlink {
    background: #00a2ff none repeat scroll 0 0;
    border-radius: 6px;
    color: #333;
    float: left;
    height: 29px;
    margin: 2px;
    padding: 5px 10px;
    width: auto;
	font-size: 12px;
}
.lblink, .fblink {
    background: #333 none repeat scroll 0 0;
    border-radius: 6px;
    float: left;
    height: 29px;
    margin: 2px;
    padding: 5px 10px;
	font-size: 12px;
}
.bgabub .entry-summary, .bgputih .entry-summary{
	border-bottom: none;
}
.bgabub, .bgputih {
  padding: 0 14px;
}
.bgabub {
  border-bottom: 1px solid #ededed;
}
.bgputih {
  border-bottom: 1px solid lightcoral;
}
@media(min-width: 768px){
	
.single.single-post main {
    border-right: 1px solid #ededed;
}
.single.single-post aside.sidebar {
    border-left: medium none;
}
}
article header {
  border-bottom: 1px solid #ededed;
  margin-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
}
.item-search a {
  border-bottom: 1px solid #ededed;
  display: block;
  padding: 4px;
}