@font-face {
  font-family: 'DiavloBlack-Regular';
  src: url('DiavloBlack-Regular.eot');
  src: url('DiavloBlack-Regular.woff2') format('woff2'),
       url('DiavloBlack-Regular.woff') format('woff'),
       url('DiavloBlack-Regular.ttf') format('truetype'),
       url('DiavloBlack-Regular.svg#DiavloBlack-Regular') format('svg'),
       url('DiavloBlack-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

